<div class="selectLang">
  <label for="">Select Language</label>
  <select [(value)]="currentLang" (change)="changeLanguage($event)">
    <option value="en">English</option>
    <option value="zh">Chinese</option>
    <option value="ms">Malaysian</option>
  </select>
</div>
<form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" customNgbDatepicker
      #d="customNgbDatepicker">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle();" type="button"></button>
      <!-- <ng-template #customDay  let-months let-currentMonth="currentMonth" let-selected="selected"
        let-disabled="disabled" let-focused="focused" let-data="d">
        <div class="ngb-dp-navigation-select align-items-center">
          <div class="ngb-dp-arrow">
            <button type="button" (click)="navigate(-1)" aria-label="Previous month" title="Previous month"
              class="btn btn-link ngb-dp-arrow-btn"><span class="ngb-dp-navigation-chevron"></span></button></div>
          <div class="month-row">
            <div *ngFor="let month of data?.model.months;let index=index">
              <div class="text-primary p-1 fw-bold" >
                {{ngb.getMonthShortName(index+1)}}</div>
            </div>
          </div>

          <div class="ngb-dp-arrow right"><button type="button" aria-label="Next month" (click)="navigate(1)"
              title="Next month" class="btn btn-link ngb-dp-arrow-btn"><span
                class="ngb-dp-navigation-chevron"></span></button></div>
        </div>
      </ng-template> -->
    </div>
  </div>
</form>


<!-- <ngb-datepicker-navigation-select *ngIf="showSelect" class="ngb-dp-navigation-select"
      [date]="date"
      [disabled] = "disabled"
      [months]="selectBoxes.months"
      [years]="selectBoxes.years">
    </ngb-datepicker-navigation-select> -->
<!-- <router-outlet></router-outlet> -->

<p>This datepicker uses a custom month layout.</p>

<div class="d-inline-block"> 
  <ngb-datepicker class="custom-datepicker px-3 pt-1 pb-3 " #dp [displayMonths]="12"
    navigation="select" [minDate]="{year: 2010, month: 1, day: 1}"
    [maxDate]="{year: 2048, month: 12, day: 31}" [(ngModel)]="data">
    <ng-template ngbDatepickerContent>
      <div class="ngb-dp-navigation-select align-items-center">
        <div class="ngb-dp-arrow">
          <button type="button" (click)="navigate(-1)" aria-label="Previous month" title="Previous month"
            class="btn btn-link ngb-dp-arrow-btn"><span class="ngb-dp-navigation-chevron"></span></button></div>
        <div class="month-row">
          <div *ngFor="let month of dp.model.months;let index=index">
            <div class="text-primary p-1 fw-bold" (click)="lal(dp)">
              {{ngb.getMonthShortName(index+1)}}</div>
          </div>
        </div>

        <div class="ngb-dp-arrow right"><button type="button" aria-label="Next month" (click)="navigate(1)"
            title="Next month" class="btn btn-link ngb-dp-arrow-btn"><span
              class="ngb-dp-navigation-chevron"></span></button></div>
      </div>

    </ng-template>
  </ngb-datepicker>
</div>